[submodule "backend"]
	path = backend
	url = https://github.com/HaroldMDiazVargas/LinkedIn-Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/HaroldMDiazVargas/LinkedIn-Frontend
